.form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  #botonAñadir {
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    font-size: 16px; /* Tamaño del texto */
    background-color: #959697; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  #botonAñadir:hover {
    background-color: #44484d; /* Color de fondo al pasar sobre el botón */
  }
  .form-column {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* Espacio entre las columnas */
  }
  
  .form-field {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  .cajas{
    width: 70%;
  }
  .borde-rojo {
    border: 4px solid red;
  }