
@if(this.usuario?.estado == "admin"){
  <app-nav></app-nav>
}@else {
  <app-nav-usuario></app-nav-usuario>
}
<br>
<p>Filtrar peliculas: <input type="text" [(ngModel)]="filtro" (keyup)="filtrar()"></p>
<br>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre">
      Nombre
    </th>
    <td mat-cell *matCellDef="let peliculas"> {{peliculas.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by autor">
      Autor
    </th>
    <td mat-cell *matCellDef="let peliculas"> {{peliculas.autor}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="anio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by año">
      Año
    </th>
    <td mat-cell *matCellDef="let peliculas"> {{peliculas.anio}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tipo">
      Tipo
    </th>
    <td mat-cell *matCellDef="let peliculas"> {{peliculas.tipo}} </td>
  </ng-container>

  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by img" class="mat-header-cell">
      Imagen
    </th>
    <td mat-cell *matCellDef="let peliculas"> <img [src]="'../../../assets/imgPeliculas/'+peliculas.foto" class="foto" [alt]="peliculas.nombre"></td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    @if (this.usuario?.estado == "admin") {
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by borrar" class="mat-header-cell">
      Borrar
    </th>
    <td mat-cell *matCellDef="let peliculas"><button class="botonesCambiar" (click)="removeFilm(peliculas.nombre)">Borrar</button></td>
  }@else {
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comprar" class="mat-header-cell">
      Comprar
    </th>
    <td mat-cell *matCellDef="let peliculas"><button class="botonesCambiar" (click)="comprarPelicula(peliculas)">Comprar</button></td>
  }
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"class="mat-row"></tr>
</table>