table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .foto {
    width: 100px; /* Ancho deseado para la imagen */
    height: auto; /* Altura automática para mantener la proporción */
  }
  .botonesCambiar{
      display: block;
      margin: 0 auto; /* Centra horizontalmente */
      padding: 10px 20px; /* Ajusta el relleno según sea necesario */
      font-size: 16px; /* Tamaño del texto */
      background-color: #959697; /* Color de fondo */
      color: #fff; /* Color del texto */
      border: none; /* Sin borde */
      border-radius: 5px; /* Bordes redondeados */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  .botonesCambiar:hover {
    background-color: #44484d; /* Color de fondo al pasar sobre el botón */
  }
  /* Estilo para las celdas de la tabla */
  .mat-cell, .mat-header-cell {
    padding: 8px 16px; /* Espaciado interno */
  }
  
  /* Estilo para las filas impares */
  .mat-row:nth-child(odd) {
    background-color: #f0f0f0; /* Color de fondo para las filas impares */
  }
  
  /* Estilo para el encabezado de la tabla */
  .mat-header-row {
    background-color: #333; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    font-weight: bold; /* Fuente en negrita para el encabezado */
  }
  
  /* Estilo para el hover sobre las filas */
  .mat-row:hover {
    background-color: #ddd; /* Color de fondo cuando se pasa el ratón sobre una fila */
  }