
<div class="container">
  <mat-chip-listbox aria-label="Fish selection" class="nav">
    <mat-chip-option [routerLink]="['/inicioSesion']" routerLinkActive="router-link-active">Iniciar Sesion</mat-chip-option>
    <mat-chip-option [routerLink]="['/peliculas']" routerLinkActive="router-link-active">Mostrar Peliculas</mat-chip-option>
    <mat-chip-option color="warn" [routerLink]="['/añadirPelicula']" routerLinkActive="router-link-active">Añadir peliculas</mat-chip-option>
  </mat-chip-listbox>
</div>
